

<%- include('partials/header')%>
<div class="jumbotron ">
    <h1 class="display-4"><strong>Welcome To My First Website!</strong></h1>     
    <h4>Dont take it seriously please! I haven't finished yet!</h4> 
    <small style="color: red;"> Current HCM's Temperature is <%= data %>  Celsious</small>  <br>
    <a class="btn btn-primary" href="/campgrounds/new">Add New Post</a>  
   
    
  </div>
 
<div class="container-fluid" id="allCamp">
    <div class="row justify-conten-center">
<% for(var i=0; i<campground.length;i++) {%>  
    <div class="col-sm-6 col-lg-3"> 
    <div class="card "style="box-sizing:border-box">
        <img  class="card-img-top" style ="width:100%;"  src="<%= campground[i].image %>" alt="">
        <div class="card-body">
          <h6 class="card-title"><%= campground[i].name %></h6>
         
          <a class="btn btn-primary btn-sm stretched-link" href="/campgrounds/<%= campground[i]._id %>" value="show info"> More info</a>
        </div>
      </div>
    </div>
    <% } %>    
</div>
</div>
